
docker {
    
    enabled = true

}

params {
    
    // Resources available
    cpus                = 8
    ram                 = 10000000000
    // Main directories
    dockerfiles_dir     = "0_dockerfiles"
    resources_dir       = "0_resources"
    genome_index_dir    = "0_genome_index"
    reads_raw_dir       = "1_reads_raw"
    fastqc_dir          = "2_fastqc"
    reads_mapped_dir    = "2_reads_mapped"

    // RNASeq base info
    type                = "bulk" // Possible values: "bulk", "single-cell"
    library             = "paired-end" // Possible values: "single-read", "paired-end"
    read_length         = 50

    // Paired sequences name pattern
    // e.g. "*{R1,R2}*.{fastq,fq,fastq.gz,gz}" or "*{Mate1,Mate2}*.{fastq,fq,fastq.gz,gz}"
    paired_pattern      = "*_{1,2}*.{fastq,fq,fastq.gz,gz}"

    // Single-cell sequencing name patterns for read1, read2 (if paired), and cell index
    mate1_pattern       = "*_1.{fastq,fq,fastq.gz,gz}"
    mate2_pattern       = "*_2.{fastq,fq,fastq.gz,gz}"
    cell_id_pattern     = "*_3.{fastq,fq,fastq.gz,gz}"

    // STARSolo options (for details, see STARSolo https://github.com/alexdobin/STAR/blob/master/docs/STARsolo.md)
    starsolo            = "--soloType CB_UMI_Simple \
                           --soloCBwhitelist None \
                           --soloCBstart 1 \
                           --soloCBlen 16 \
                           --soloUMIstart 17 \
                           --soloUMIlen 10 \
                           --soloBarcodeReadLength 1 \
                           --soloBarcodeMate 0 \
                           --soloCBposition - \
                           --soloUMIposition - \
                           --soloAdapterSequence - \
                           --soloAdapterMismatchesNmax 1 \
                           --soloCBmatchWLtype 1MM_multi \
                           --soloInputSAMattrBarcodeSeq - \
                           --soloInputSAMattrBarcodeQual - \
                           --soloStrand Forward \
                           --soloFeatures Gene Genefull \
                           --soloUMIdedup 1MM_All \
                           --soloUMIfiltering - \
                           --soloOutFileNames Solo.out/ features.tsv barcodes.tsv matrix.mtx \
                           --soloCellFilter CellRanger2.2 "

}