
process.container = 'rnaseq:latest'

docker {
    
    enabled = true

}

params {
    
    // email for job completion message
    email = "marco.marchetti.90@gmail.com"

    // Resources available
    cpus                = 8
    ram                 = 10000000000
    // Main directories
    dockerfiles_dir     = "0_dockerfiles"
    resources_dir       = "0_resources"
    genome_index_dir    = "0_genome_index"
    reads_raw_dir       = "1_reads_raw"
    fastqc_dir          = "2_fastqc"
    reads_mapped_dir    = "2_reads_mapped"

    // RNASeq base info
    library             = "paired-end" // Possible values: "single-read", "paired-end"
    read_length         = 50

    // Reads name patterns for read1 and read2 (if paired)
    reads_pattern       = "*_{1,2}.{fastq,fq,fastq.gz,gz}"

}